{{#with content.filters}}
<div class="col-sm-3 filter-options sidebar-offcanvas" id="sidebar">
  <button class="offcanvas-btn offcanvas-btn-close icon-close" data-toggle="offcanvas" type="button"><span class="sr-only">{{close}}</span></button>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 ">
          <p class="filter-products"><b>{{text}}</b></p>
        </div>
      </div>

      {{#each list}}

        {{#if typeSelectHierarchy}}
          <hr class="hr">
          <div class="row product-type">
            <div class="col-xs-8 text-left">
              {{text}}
            </div>
            <div class="col-xs-4">
              <a class="text-right clear-btn" href="#">{{../clear}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                {{#each list}}
                  <div class="panel panel-default">
                    <div class="panel-heading" id="heading-one" role="tab">
                      <h4 class="panel-title">
                        <a aria-controls="collapse-one" aria-expanded="true" class="" data-parent="#accordion" data-toggle="collapse" href="#{{value}}">
                          {{text}}
                        </a>
                      </h4>
                    </div>
                    <div aria-labelledby="heading-one" class="panel-collapse collapse {{#if selected}}in{{/if}}" id="{{value}}" role="tabpanel">
                      <div class="panel-body">
                        {{#each children}}
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="{{value}}" {{#if selected}}checked{{/if}}>
                              {{text}}
                            </label>
                          </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        {{/if}}

        {{#if typeSlider}}
          <hr class="hr">
          <div class="row price-box">
            <div class="col-xs-8">
              {{text}}
            </div>
            <div class="col-xs-4">
              <a class="text-right clear-btn" href="#">{{../clear}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center slider-col">
              <p>
                <input class="amount" readonly style="border:0; color:black; background: transparent; text-align: center;" type="text" />
                <input class="s1" name="s1" type="hidden" />
                <input class="s2" name="s2" type="hidden" />
              </p>
              <div class="slider-range"></div>
            </div>
          </div>
        {{/if}}

        {{#if typeSelectSmall}}
            <hr class="hr">
            <div class="row size-box">
                <div class="col-xs-8 text-left">
                  {{text}}
                </div>
                <div class="col-xs-4">
                    <a class="text-right clear-btn" href="#">{{../clear}}</a>
                </div>
            </div>
            <div class="pop-filter-size">
              {{#each list}}
                  <input type="checkbox" value="{{value}}" {{#if selected}}checked{{/if}}><label>{{text}}</label><br>
              {{/each}}
            </div>
        {{/if}}

        {{#if typeSelectLarge}}
          <hr class="hr">
          <div class="row brands-box">
            <div class="col-xs-8 text-left">
              {{text}}
            </div>
            <div class="col-xs-4">
              <a class="text-right clear-btn" href="#">{{../clear}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brands-list">
                {{#each list}}
                  <div class="checkbox">
                    <input id="brands-checkbox" type="checkbox" {{#if selected}}checked{{/if}}><label>{{text}}</label>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        {{/if}}

      {{/each}}

    </div>
  </div>
</div>
{{/with}}
