<!-- start catalog/pdp/product-gallery.hbs -->
<div class="bzoom_wrap hidden-xs">
  <a id="animated-modal-action" class="animated-modal-action" href="#animatedModal">
    <img src="{{@root.meta.assetsPath}}img/zoom-60px-6081bcfddfd9e2ddfd84dbd3eddfa3c7.png" width="25" height="25" />
  </a>
  <ul class="bzoom">
    {{#each content.myvariant.images}}
      <li class="gallery-image" data-modal-content="{{url}}">
        <img class="bzoom_thumb_image" src="{{url}}">
        <img class="bzoom_big_image" src="{{url}}">
      </li>
    {{/each}}
  </ul>
  <div id="animatedModal" class="animated-modal">
    <div class="modal-header">
      <a href="#" class="close-animatedModal clickable">
        <img src="{{@root.meta.assetsPath}}img/delete-60px-421d04c332afe6d751d51e28934399fd.png" width="40" height="40" />
      </a>
    </div>
    <div class="modal-content">

    </div>
  </div>
</div>
<div class="gallery-mobile visible-xs">
  {{#each content.myvariant.images}}
    <img src="{{url}}" alt="Product Image" />
  {{/each}}
</div>
<!-- end catalog/pdp/product-gallery.hbs -->
