<!-- start catalog/pdp/reviews.hbs -->
{{#if reviews}}
<div class="row">
  <div class="col-sm-12">
    <p class="text-uppercase text-center reviews-title">{{i18n "catalog:reviews.title"}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 reviews-col">
    <div class="row">
      <div class="col-sm-12">
        <div>{{total}} reviews</div>
      </div>
    </div>
    {{#each reviews.results}}
    <div class="single-comment hidden-xs">
      <div class="row">
        <div class="col-sm-12">
          <div class="review-rating">
            <fieldset class="rating rated-stars">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
            </fieldset>
            <p class="text-uppercase comment-user">{{authorName}}<span class="grey-p comment-date"> {{createdAt}}</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="h4 review-top-comment">{{title}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="review-comment">{{text}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div>
  <button type="button" class="btn write-review-btn">Write Review</button>
  <button type="button" class="btn hidden-xs showmore-reviews-btn">Show More Reviews</button>
</div>
{{/if}}
<!-- end catalog/pdp/reviews.hbs -->
