<!-- start catalog/home/banner-top-left.hbs -->
<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{cms "bannerTopLeft.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "bannerTopLeft.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "bannerTopLeft.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{{cms "bannerTopLeft.title"}}}</h4>
  <p class="banner-paragraph">{{{cms "bannerTopLeft.subtitle"}}}</p>
  <a href="{{cms "bannerTopLeft.linkHref"}}" class="btn banner-btn">
    {{cms "bannerTopLeft.linkText"}}
  </a>
</div>
<!-- end catalog/home/banner-top-left.hbs -->
