<!-- start catalog/home/banner-bottom-left.hbs -->
<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{cms "bannerBottomLeft.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "bannerBottomLeft.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "bannerBottomLeft.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{{cms "bannerBottomLeft.title"}}}</h4>
  <p class="banner-paragraph">{{{cms "bannerBottomLeft.subtitle"}}}</p>
  <a href="{{cms "bannerBottomLeft.linkHref"}}" class="btn banner-btn">
    {{cms "bannerBottomLeft.linkText"}}
  </a>
</div>
<!-- end catalog/home/banner-bottom-left.hbs -->
