<!-- start catalog/home/banner-bottom-right-2.hbs -->
<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{cms "bannerBottomRight2.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "bannerBottomRight2.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "bannerBottomRight2.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{{cms "bannerBottomRight2.title"}}}</h4>
  <p class="banner-paragraph">{{{cms "bannerBottomRight2.subtitle"}}}</p>
  <a href="{{cms "bannerBottomRight2.linkHref"}}" class="btn banner-btn">
    {{cms "bannerBottomRight2.linkText"}}
  </a>
</div>
<!-- end catalog/home/banner-bottom-right-2.hbs -->
