<!-- start common/location-selector-mobile.hbs -->
<div class="location-dropdown-xs">
{{#withLanguageOptions}}
{{#if this.[1]}}
  <form id="form-select-language-mobile" action="{{@root.meta._links.selectLanguage.href}}" method="POST">
    <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
    <ul>
      <li>
        <select name="language" id="language-select-mobile" class="select location-select">
          {{#each this}}
          <option value="{{value}}" {{#if selected}} selected {{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </li>
    </ul>
  </form>
{{/if}}
{{/withLanguageOptions}}
{{#withCountryOptions}}
{{#if this.[1]}}
  <form id="form-select-country-mobile" action="{{@root.meta._links.selectCountry.href}}" method="POST">
    <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
    <ul>
      <li>
        <select name="country" id="country-select-mobile" class="select location-select">
          {{#each this}}
          <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </li>
    </ul>
  </form>
{{/if}}
{{/withCountryOptions}}
</div>
<!-- end common/location-selector-mobile.hbs -->
