<!-- start common/mini-cart.hbs -->
{{#if cart.lineItems }}
  <button class="not-empty link-your-bag icon-hand-bag">
    <span class="hidden-xs hidden-sm">{{i18n "main:header.miniCart"}}</span>
    <span class="cart-item-number">{{totalItemsCount cart}}</span>
  </button>
  <div class="col-xs-12">
    <div class="nav-minicart">
      <ul>
        {{#each cart.lineItems}}
        <li>
          <form action="/cart/remove" method="post">
            <input type="hidden" name="csrfToken" value="{{csrfToken}}"/>
            <a class="img" href="/{{productSlug}}-{{variant.sku}}.html"><img src="{{variant.images.[0].url}}" alt="{{name}}" /></a>
            <p class="product-title"><a href="/{{productSlug}}-{{variant.sku}}.html">{{name}}</a></p>
            <div class="details">
              <p class="product-quantity">{{i18n "main:common.quantity"}}<span>{{quantity}}x</span></p>
              <p class="product-price">{{i18n "main:common.price"}}<span>{{totalPrice}}</span></p>
                <input type="hidden" name="lineItemId" value="{{id}}">
                <button type="submit" id="minicart-delete-button-{{@index}}" class="delete">
                  <span>
                    <img class="cart-action-icon" src="/assets/img/delete-1-421d04c332afe6d751d51e28934399fd.png"
                         alt="{{i18n "main:form.delete"}}">
                  </span>
                </button>
            </div>
          </form>
        </li>
        {{/each}}
      </ul>
      <div class="gradient"></div>
      <p class="total-price">{{i18n "main:common.totalPrice" totalPrice=(total cart)}}</p>
      <a href="/cart" class="btn-grey">{{i18n "main:header.viewBag"}}</a>
      <a href="/checkout" class="btn-yellow">{{i18n "main:header.checkout"}}</a>
    </div>
  </div>
{{else}}
<a href="/cart" class="not-empty link-your-bag icon-hand-bag">
    <span class="hidden-xs hidden-sm">{{i18n "main:header.miniCart"}}</span>
    <span class="cart-item-number">
        {{#if cart}}
            {{totalItemsCount cart}}
        {{else}}
            0
        {{/if}}
    </span>
</a>
{{/if}}
<!-- end common/mini-cart.hbs -->
