<!-- start common/sub-footer.hbs -->
<div class="sub-footer">
    <div class="container">
        <div class="row text-uppercase">
            <div class="col-sm-12">
                <ul class="footer-title imprint-row">
                    <li class="hidden-xs">{{i18n "main:footer.legalInfo"}}</li>
                    <li><a href="{{@root.meta._links.imprint.href}}">{{i18n "main:footer.imprint"}}</a></li>
                    <li><a href="{{@root.meta._links.privacyPolicy.href}}">{{i18n "main:footer.privacyPolicy"}}</a></li>
                    <li><a href="{{@root.meta._links.termsOfUse.href}}">{{i18n "main:footer.termsOfUse"}}</a></li>
                    <li class="visible-xs">{{i18n "main:footer.legalInfo"}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end common/sub-footer.hbs -->
