<!-- start catalog/add-to-cart.hbs -->
<form id="form-add-to-cart{{index}}" name="add-to-cart" method="post" action=/cart/add>
  <input type="hidden" name="csrfToken" value="{{csrfToken}}"/>
  <input type="hidden" name="productId" value="{{product.id}}">
  <input type="hidden" name="variantId" value="{{variant.id}}">

  <div class="row select-row">
    <ul class="list-inline">
        {{> catalog/product-attribute}}
      <li class="size-guide-li">
        {{> catalog/size-guide}}
      </li>
    </ul>
  </div>
  <div class="row">
    <ul class="product-actions-list list-inline">
      <li class="bag-items-li">
        <select name="quantity" class="bag-items" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
      </li>
      <li>
        <button type="submit" class="add-to-bag-btn text-center">
          <img class="bag-thumb" src="/assets/img/hand-bag-2-black-2edd08b27f222728b530d5ad224c1134.png" alt="{{i18n "catalog:cart.add"}}">
          {{i18n "catalog:cart.add"}}
        </button>
      </li>
    </ul>
  </div>
</form>
<!-- end catalog/add-to-cart.hbs -->
