<!-- start catalog/product-thumbnail.hbs -->
<a id="link-product-thumbnail-{{variant.sku}}" href="/{{#if product}}{{product.slug}}{{else}}{{productSlug}}{{/if}}-{{variant.sku}}.html">
  <div class="shop-item">
    {{#if variant.price.discounted}}
      <div class="sale-flag">{{i18n "catalog:thumbnail.sale"}}</div>
    {{/if}}
      {{#if product}}
          {{#ifNew product}}
              <div class="new-flag">{{i18n "catalog:thumbnail.new"}}</div>
          {{/ifNew}}
      {{/if}}
      {{> catalog/add-to-wishlist-form mobile=true context="mobile" productId=product.id variantId=variant.id sku=variant.sku}}
    <div class="pop-product-image">
        <img class="img-lazy" data-original="{{variant.images.[0].url}}" alt="{{#if product}}{{product.name}}{{else}}{{name}}{{/if}}" />
    </div>
    <div class="pop-product-name">
      <span class="name-headline">{{#if product}}{{product.name}}{{else}}{{name}}{{/if}}</span>
    </div>
    <div class="pop-item-price">
      {{#if variant.price.discounted}}
          <span class="strikethrough">{{variant.price.value}}</span>
          <span class="pop-item-price-old">{{variant.price.discounted.value}}</span>
      {{else}}
          <span class="current-price">{{variant.price.value}}</span>
      {{/if}}
    </div>
    <div class="pop-product-more-colors">
      {{!-- {{#if thumbnail.moreColors}}{{i18n "catalog:thumbnail.moreColors"}}{{/if}}&nbsp; --}}
      <ul class="list-inline">
        <li>
          <div class="product-thumbnail-swatch-red"></div>
        </li>
        <li>
          <div class="product-thumbnail-swatch-green"></div>
        </li>
        <li>
          <div class="product-thumbnail-swatch-blue"></div>
        </li>
      </ul>
    </div>
    <div class="shop-item-overlay hidden-xs">
      <button type="button" class="quickview" data-modal="quickview-modal{{index}}">
        {{i18n "catalog:thumbnail.quickView"}}
      </button>
        {{#unless wishlist}}
        {{> catalog/add-to-wishlist-form mobile=false productId=product.id variantId=variant.id sku=variant.sku}}
        {{/unless}}
    </div>
  </div>
</a>

{{> catalog/quickview wishlist=wishlist }}
<!-- end catalog/product-thumbnail.hbs -->
