<!-- start catalog/product-attribute.hbs -->
    <li>
        <p class="text-uppercase">{{attributeLabel this product.productType}}</p>
        <div>
            <select name="attribute-{{attributeName}}" class="select-product-detail" data-reload="{{reload}}" required>
                {{#eachAttributeOption attributeName product variant}}
                    <option value="{{variantId}}"
                            data-url="{{variantUrl}}"
                        {{#unless reload}}{{#if disabled}}disabled{{/if}}{{/unless}}
                        {{#if selected}}selected{{/if}}>
                        {{attributeValue attribute product.productType}}
                    </option>
                {{/eachAttributeOption}}
            </select>
        </div>
        {{> common/required-error-message}}
    </li>
<!-- end catalog/product-attribute.hbs -->
