<!-- start catalog/product-attribute.hbs -->
{{#if product}}
{{#withSelectableAttributes variant}}
    {{#each this}}
        <li>
            <p class="text-uppercase">{{attributeLabel this}}</p>
            <div>
                <select name="attribute-{{name}}" class="select-product-detail" required>
                    {{#withAttributeOptions this product variant}}
                        {{#each this}}
                            <option value="{{#if secondary}}{{value}}{{else}}/{{product.slug}}-{{variant.sku}}.html{{/if}}"
                                {{#if disabled}}disabled{{/if}} {{#if selected}}selected{{/if}}>
                                {{label}}
                            </option>
                        {{/each}}
                    {{/withAttributeOptions}}
                </select>
            </div>
            {{> common/required-error-message}}
        </li>
    {{/each}}
{{/withSelectableAttributes}}
{{/if}}
<!-- end catalog/product-attribute.hbs -->
