<!-- start catalog/product-attribute.hbs -->

{{#if product}}
{{#withAttributeOptions attributeName product variant}}
    <li>
        <p class="text-uppercase">{{attributeLabel attributeName product.productType}}</p>
        <div>
            <select name="attribute-{{attributeName}}" class="select-product-detail" data-reload="{{reload}}" required>
                {{#each this}}
                    <option value="{{variantId}}"
                            data-url="{{variantUrl}}"
                        {{#unless reload}}{{#if disabled}}disabled{{/if}}{{/unless}}
                        {{#if selected}}selected{{/if}}>
                        {{attributeValue attribute product.productType}}
                    </option>
                {{/each}}
            </select>
        </div>
        {{> common/required-error-message}}
    </li>
{{/withAttributeOptions}}
<!-- end catalog/product-attribute.hbs -->
{{/if}}