<!-- start catalog/product-attribute.hbs -->
{{#eachSelectableAttributeName}}
    <li>
        <p class="text-uppercase">{{attributeLabel this content.myproduct.productType}}</p>
        <div>
            <select name="attribute-{{this}}" class="select-product-detail" data-reload="{{shouldReload this}}" required>
                {{#eachAttributeOption this content.myproduct content.myvariant}}
                    <option value="{{variantId}}" data-url="{{variantUrl}}" {{#if disabled}}class="grey-p"{{/if}} {{#if selected}}selected{{/if}}>
                        {{attributeValue attribute content.myproduct.productType}}
                    </option>
                {{/eachAttributeOption}}
            </select>
        </div>
        {{> common/required-error-message}}
    </li>
{{/eachSelectableAttributeName}}
<!-- end catalog/product-attribute.hbs -->
