<!-- start catalog/pop/banner.hbs -->
{{#with category.assets.[0]}}
<figure class="figure-banner">
  <img class="img-responsive hidden-sm hidden-md hidden-lg" src="{{sources.[0].uri}}" alt="{{name}}">
  <img class="img-responsive hidden-xs" src="{{sources.[0].uri}}" alt="{{name}}">
  <figcaption class="figcaption-banner-text">
    <h2>{{name}}</h2>
    <h3>{{{description}}}</h3>
  </figcaption>
</figure>
{{/with}}
<!-- end catalog/pop/banner.hbs -->