<!-- start myaccount/my-address-book.hbs -->

<div>{{title}} {{firstName}} {{lastName}}</div>
<div>{{streetName}}</div>
<div>{{additionalStreetInfo}}</div>
<div>{{city}}</div>
<div>{{postalCode}} {{region}}</div>
<div>{{country}}</div>
<div class="address-book-edit-delete">
    <div>
        <a href="{{editAddressUrl this}}">
            <img src="/assets/img/edit-1-e76b284c78cd97506e3b64cfd0c089ae.png" alt="edit icon">
            {{i18n "my-account:addressBook.buttons.edit"}}
        </a>
    </div>
    <div>
        <form action="{{deleteAddressUrl this}}" method="POST">
            <input type="hidden" name="csrfToken" value="{{csrfToken}}"/>
            <button type="submit">
                <img src="/assets/img/delete-60px-421d04c332afe6d751d51e28934399fd.png" alt="delete icon">
                {{i18n "my-account:addressBook.buttons.delete"}}
            </button>
        </form>
    </div>
</div>
<!-- end myaccount/my-address-book.hbs -->
