<div class="col-sm-6">
    <div class="my-orders-order-dark-box">
        <div class="my-orders-order-dark-box-title">{{title}}</div>
        <div>{{address.title}} {{address.firstName}} {{address.lastName}}</div>
        <div>{{address.streetName}}</div>
        <div>{{address.additionalStreetInfo}}</div>
        <div>{{address.city}}</div>
        <div>{{address.postalCode}} {{address.region}}</div>
        <div>{{address.country}}</div><br>
        <div>{{address.phone}}</div>
        <div>{{address.email}}</div>
    </div>
</div>